@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Commons';
  src: url('/public/fonts/TTCommons-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/public/fonts/TTCommons-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TestTiemposFineLight';
  src: url('/public/fonts/TestTiemposFine-Light.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TestTiemposFineLightItalic';
  src: url('/public/fonts/TestTiemposFine-LightItalic.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk_Trial_SBd';
  src: url('/public/fonts/AktivGrotesk_Trial_SBd.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk_Trial_Hair';
  src: url('/public/fonts/AktivGrotesk_Trial_Hair.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk_Trial_Th';
  src: url('/public/fonts/AktivGrotesk_Trial_Th.ttf');
  font-weight: 400;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TT Commons', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Smooth transitions for theme switching */
html {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

body {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.icon-button {
  width: 36px;
  height: 36px;
  min-width: 19.2px;
  min-height: 19.2px;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(143.64deg, #FF2380 0%, #675DFF 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-border {
  border-left: 3px solid;
  /* border-image: linear-gradient(143.64deg, #FF2380 0%, #675DFF 100%); */
  /* border-image-slice: 1; */
}

.py-1 {
  padding-top: 0.5rem !important;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

